@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');

* {
    margin: 0;
}

.text-primary {
    color: #FFAD5A;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
}

.poppins-thin {
    font-family: "Poppins", serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 131px;
    margin: 82px auto;
    width: 1128px;
}

.banner-left h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
}

.line {
    width: 5px;
    height: 120px;
    margin: auto 10px auto 0;
    border-radius: 5px;
    background: rgb(255, 89, 89);
}

.title {
    display: flex;
}

.banner-left p {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 471px;
}

.banner-left button {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    border: none;
    padding: 12px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 172px;
    margin-top: 19px;
}

.banner-left h5 {
    color: #434343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 33px;
}


.banner-right {
    background-image: url(../images/shapes/shape-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-right img {
    border-radius: 100%;
}